#image {
    margin: 10px;
    padding: 5px;
 }

 body {
	padding: 10px;
	margin: 10px;	
}

#main_image {
    width: 60%;
    height: 60%;
    margin: 10px;
    padding: 5px;
 }

 h2 {
	padding: 10px;
	margin: 10px;
}

h3 {
	text-align: center;
}

p {
	padding: 10px;
	margin: 5px;
}

#home {
	background:rgb(115, 209, 209);
}

.title {
    color: rgb(115, 209, 209); 
    font-family: 'Times New Roman', Times, serif;
}

.table-striped 

.table-responsive

footer {
	text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
.table-scroll {
	height: 400px !important;
    overflow-y: scroll;
}

td, th {
    border: 1px solid white;
    text-align: center;
    padding: 5px;
}

tr:nth-child(even) {
    background-color:lightgray;
}

tr:nth-child(odd){
	background: white;
}